* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

#section1{
    height: 110px;
}

#section2{
    height: calc(100vh - 110px);
    width: 100%;
    background-color: aquamarine;
    padding: 100px 0;
}

#griglia{
    height: 700px;
    width: 700px;
    margin: auto;
}

.quadrato{  
    background-color: white;
    border: 1px solid black;
    display: flex;
    justify-content: center;
    align-items: center;
}